@import 'tailwindcss';

@theme {
  --color-background-primary: var(--color-neutral-900);
  --color-background-secondary: var(--color-neutral-800);
  --color-background-tertiary: var(--color-neutral-700);
  --color-text-primary: var(--color-neutral-100);
  --color-text-secondary: var(--color-neutral-200);
  --color-text-tertiary: var(--color-neutral-300);
}

body {
  background: var(--color-neutral-900);
  color: var(--color-text-primary);
  font-family: Arial, Helvetica, sans-serif;
}
